body{
    background-image: url("https://img.freepik.com/free-photo/colorful-shopping-bags_23-2147652050.jpg?w=996&t=st=1706750528~exp=1706751128~hmac=4f1fb21acc2ed4c708cb1d4f18ccb89deb156edfd42684879d5024f48aac2be9");
    background-repeat: no-repeat;
    background-size: cover;
}
